// Общая раскладка, контейнеры, навигация и т.д.

.app-container {
    //width: 100%;
    //max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 10px;
  }
  
  .top-nav {
    display: flex;
    background-color: #333;
  }
  
  .tab-btn {
    flex: 1;
    padding: 15px;
    transition: .2s;
    border: none;
    color: #eee;
    cursor: pointer;
    outline: none;
    background: linear-gradient(#232422, #161715);
    font-size: 16px;
    transition: background 0.2s ease;
    border-bottom: 2px solid #28A3E9;
    
    &:hover {
      background: #555;
    }
    
    &.active {
      background: linear-gradient(#279FE3, #1C5A7C);
      border-bottom: none;
    }
  }
  
  .tab-content {
    padding: 20px;
    background-color: #171816;
  }
  
  .content-row {
    display: flex;
    flex-wrap: wrap; // чтобы на маленьких экранах блоки переносились
  }
  
  .left-panel, 
  .right-panel {
    display: flex;
    flex-direction: column;
  
    flex: 1;
    width: 100%;
    padding: 10px;
    gap: 2px;
  }
  
  .right-panel:last-child {
    border: 2px solid #28A3E9;
    border-radius: 5px;
  }

  @media (max-width: 1306px) {
    .content-row {
      flex-direction: column;
    }
  
  
  }